@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply bg-muted border-background absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
  .neo-brutalism {
    @apply shadow-color-primary active:shadow-color-primary-active  border-primary rounded border-2 px-4 py-2 font-bold uppercase transition-all active:translate-x-0.5 active:translate-y-0.5 dark:bg-black;
  }
  .clickable-link {
    @apply text-primary/80 hover:text-primary cursor-pointer underline underline-offset-4 transition-all;
  }
  .hawa-icon {
    @apply hawa-h-4 hawa-w-4;
  }
}

@layer components {
  .link::after {
    content: url("data:image/svg+xml,%3Csvg stroke='%234c37eb' fill='none' stroke-width='2' viewBox='0 0 24 24' aria-hidden='true' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: 0.75em;
    vertical-align: middle;
    color: hsl(var(--primary));
  }
  .link {
    color: hsl(var(--primary));
  }
  .link:hover {
    text-decoration: underline;
    color: var(--button-primary-700);
  }
  .code-highlight {
    background-color: transparent !important;
  }
  .mono {
    font-family:
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      Liberation Mono,
      Courier New,
      monospace !important;
  }
  .inline-code {
    font-size: 0.75rem !important;
    width: fit-content;
    border-radius: theme("borderRadius.DEFAULT");
    padding: theme("spacing.1") theme("spacing[1.5]");
    border: theme("colors.gray.300") 1px solid;
    font-family:
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      Liberation Mono,
      Courier New,
      monospace !important;
  }

  .hawa-mask-fade-bottom {
    -webkit-mask-image: linear-gradient(to bottom, #d1d4dc, transparent);
    mask-image: linear-gradient(to bottom, #d1d4dc, transparent);
  }
  .hawa-mask-fade-top {
    -webkit-mask-image: linear-gradient(to top, #d1d4dc, transparent);
    mask-image: linear-gradient(to top, #d1d4dc, transparent);
  }
  .hawa-mask-fade-right {
    -webkit-mask-image: linear-gradient(to right, #d1d4dc, transparent);
    mask-image: linear-gradient(to right, #d1d4dc, transparent);
  }
  .hawa-mask-fade-left {
    -webkit-mask-image: linear-gradient(to left, #d1d4dc, transparent);
    mask-image: linear-gradient(to left, #d1d4dc, transparent);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .radio-item {
    position: relative;
  }
  .radio-item input[type="radio"] {
    display: none;
  }
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    border-radius: 11px;
    border: 2px solid #a3a3a3;
    background-color: transparent;
  }

  .radio-item.margin-right label:before {
    margin: 0 5px 0 0; /* top right bottom left */
  }

  .radio-item.margin-left label:before {
    margin: 0 0 0 5px; /* top right bottom left */
  }

  .radio-item-default input[type="radio"]:checked + label:after {
    border-radius: 100%;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 6px;
    content: " ";
    display: block;
    background: hsl(var(--primary));
  }
  .radio-item-default.right-3px input[type="radio"]:checked + label:after {
    right: 3px;
  }
  .radio-item-default.left-3px input[type="radio"]:checked + label:after {
    left: 3px;
  }
  .radio-item-bordered input[type="radio"]:checked + label:after {
    border-radius: 100%;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 22px;
    content: " ";
    display: block;
    background: hsl(var(--primary));
  }
  .radio-item-bordered.left-23px input[type="radio"]:checked + label:after {
    left: 23px;
  }
  .radio-item-bordered.right-19px input[type="radio"]:checked + label:after {
    right: 19px;
  }

  /* .dark-shadow {
    @apply shadow-[0_10px_15px_-3px_rgba(255,255,255,0.1),0_4px_6px_-2px_rgba(255,255,255,0.05)];
  } */

  .ddm-w-parent {
    width: var(--radix-dropdown-menu-trigger-width);
  }
  .popover-w-parent {
    width: var(--radix-popover-trigger-width);
  }
  .badge {
    background: rgb(220, 232, 58);
    font-size: 10px !important;
    border-radius: var(--radius);
    padding: 2px 4px;
    margin-right: 5px !important;
    text-transform: uppercase;
  }

  .progress-loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    width: 80px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  .progress-loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(var(--primary));
    opacity: 0.1;
    transition: background-color 0.3s ease;
  }

  .progress-loading::after {
    content: "";
    height: 100%;
    width: 100%;
    animation: wobble 1.75s ease-in-out infinite;
    transform: translateX(-95%);
    background-color: hsl(var(--primary));
    transition: background-color 0.3s ease;
  }

  @keyframes wobble {
    0%,
    100% {
      transform: translateX(-95%);
    }
    50% {
      transform: translateX(95%);
    }
  }

  .squircle-container {
    transform-origin: center;
    will-change: transform;
    overflow: visible;
  }
  .squircle-car {
    fill: none;
    stroke: hsl(var(--primary));
    stroke-dasharray: 15, 85;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: travel 0.9s linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
  }
  .square-car {
    fill: none;
    stroke: hsl(var(--primary));
    stroke-dasharray: 25, 75;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: travel 0.9s linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
  }
  .squircle-track {
    fill: none;
    stroke: hsl(var(--primary));
    opacity: 0.1;
    transition: stroke 0.5s ease;
  }

  .circle-container {
    transform-origin: center;
    animation: rotate 0.8s linear infinite;
    will-change: transform;
    overflow: visible;
  }
  .circle-car {
    fill: none;
    /* stroke: hsl(var(--primary)); */
    stroke-dasharray: 25, 75;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    transition: stroke 0.5s ease;
  }
  .circle-track {
    fill: none;
    /* stroke: hsl(var(--primary)); */
    opacity: 0.1;
    transition: stroke 0.5s ease;
  }

  .orbit-container {
    --uib-size: 35px;
    --uib-color: black;
    --uib-speed: 1.5s;
    --uib-dot-size: calc(var(--uib-size) * 0.4);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-dot-size);
    width: var(--uib-size);
  }

  .orbit-container::before,
  .orbit-container::after {
    content: "";
    position: absolute;
    height: var(--uib-dot-size);
    width: var(--uib-dot-size);
    border-radius: 50%;
    background-color: hsl(var(--primary));
    flex-shrink: 0;
    transition: background-color 0.3s ease;
  }

  .orbit-container::before {
    animation: orbit var(--uib-speed) linear infinite;
  }

  .orbit-container::after {
    animation: orbit var(--uib-speed) linear calc(var(--uib-speed) / -2)
      infinite;
  }

  @keyframes orbit {
    0% {
      transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
      opacity: 0.65;
    }
    5% {
      transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.684208);
      opacity: 0.58;
    }
    10% {
      transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.631576);
      opacity: 0.51;
    }
    15% {
      transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.578944);
      opacity: 0.44;
    }
    20% {
      transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.526312);
      opacity: 0.37;
    }
    25% {
      transform: translateX(0%) scale(0.47368);
      opacity: 0.3;
    }
    30% {
      transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.526312);
      opacity: 0.37;
    }
    35% {
      transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.578944);
      opacity: 0.44;
    }
    40% {
      transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.631576);
      opacity: 0.51;
    }
    45% {
      transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.684208);
      opacity: 0.58;
    }
    50% {
      transform: translateX(calc(var(--uib-size) * -0.25)) scale(0.73684);
      opacity: 0.65;
    }
    55% {
      transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.789472);
      opacity: 0.72;
    }
    60% {
      transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.842104);
      opacity: 0.79;
    }
    65% {
      transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.894736);
      opacity: 0.86;
    }
    70% {
      transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.947368);
      opacity: 0.93;
    }
    75% {
      transform: translateX(0%) scale(1);
      opacity: 1;
    }
    80% {
      transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.947368);
      opacity: 0.93;
    }
    85% {
      transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.894736);
      opacity: 0.86;
    }
    90% {
      transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.842104);
      opacity: 0.79;
    }
    95% {
      transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.789472);
      opacity: 0.72;
    }
    100% {
      transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
      opacity: 0.65;
    }
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes travel {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -100;
    }
  }
}
@layer utilities {
  .root-bg {
    background-color: hsl(var(--background));
  }

  .dark-shadow {
    box-shadow:
      0 10px 15px -3px rgba(255, 255, 255, 0.1),
      0 4px 6px -2px rgba(255, 255, 255, 0.05);
  }
  .shadow-color-primary {
    --tw-shadow: 0.25rem 0.25rem hsl(var(--primary));
    box-shadow: var(--tw-shadow);
  }
  .shadow-color-primary-active {
    --tw-shadow: 0.125rem 0.125rem hsl(var(--primary));
    box-shadow: var(--tw-shadow);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
