@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --info: 209 62% 50%;
    --info-foreground: 0 0% 98%;

    --success: 148 48% 43%;
    --success-foreground: 0 0% 98%;

    --warning: 24 75% 50%;
    --warning-foreground: 0 0% 98%;

    --error: 0 84.2% 60.2%;
    --error-foreground: 0 0% 98%;
    /* // info: "text-info-700 bg-info-100",
    // warning: "text-warning-700 bg-warning-100",
    // error: "text-destructive-700 bg-destructive-100",
    // success: "text-success-700 bg-success-100", */

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --radius-inner: calc(var(--radius) - calc(var(--radius) / 3));

    --layout-primary-700: #b7aff7;
    --layout-primary-500: #fdfdfd;
    --layout-primary-600: #f7f7f7;
    --layout-primary-300: #e7e5fa;
    --layout-secondary: #d2cdfa;

    --button-primary-300: 247 72% 61%;
    --button-primary-500: 247 82% 57%;
    --button-primary-500-hsl: hsl(247, 82%, 57%);
    --button-primary-700: 247 71% 39%;
    --button-secondary-500: #ffc011;
    --button-secondary-700: #b48d24;
  }
  .dark {
    --layout-primary-500: #363636;
    --layout-primary-600: #2d2d2d;
    --layout-primary-700: #1d1d1d;
    --layout-primary-300: #4a4a4a;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
