.input {
  color: black;
  background-color: var(--light);
  /* padding: 10px; */
  border-radius: var(--borderR);
  border-bottom: none;
  border: none;
}

.theme_form_input {
  color: black;
  background-color: var(--light);
  border-radius: var(--borderR);
  border-bottom: none;
  border: none;
  width: 100%;
}

.theme_form_input input {
  color: black;
  background-color: var(--light);
  padding: 10px;
  border-radius: var(--borderR);
  border-bottom: none;
  border: none;
  width: 100%;
}

.inputLabel {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;

  position: relative;
}

/* DragDropMenuLogo */
.upload_error_container {
  background-color: #f44336;
  color: white;
  border-radius: var(--borderR);
  padding: 10px;
  margin: 5px;
  font-size: 13px;
}
.upload_main_container {
  display: flex;
  border-color: var(--blue);
  border-style: solid;
  border-radius: var(--borderR);
  border-width: 2px;
  cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
