

.input {
  color: black;
  background-color: var(--light);
  /* padding: 10px; */
  border-radius: var(--borderR);
  border-bottom: none;
  border: none;
}

.theme_form_input {
  color: black;
  background-color: var(--light);
  border-radius: var(--borderR);
  border-bottom: none;
  border: none;
  width: 100%;
}

.theme_form_input input {
  color: black;
  background-color: var(--light);
  padding: 10px;
  border-radius: var(--borderR);
  border-bottom: none;
  border: none;
  width: 100%;
}

.inputLabel {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;

  position: relative;
}

/* DragDropMenuLogo */
.upload_error_container {
  background-color: #f44336;
  color: white;
  border-radius: var(--borderR);
  padding: 10px;
  margin: 5px;
  font-size: 13px;
}
.upload_main_container {
  display: flex;
  border-color: var(--blue);
  border-style: solid;
  border-radius: var(--borderR);
  border-width: 2px;
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.phoneInput {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 10px !important;
  padding-left: 60px !important;
  border-radius: var(--borderR) !important;
  border: none !important;
  height: 100% !important;
  width: auto !important;
}

.phoneInput:hover {
  border: none;
  outline-color: transparent;
}

.phoneInput:focus {
  /* border: 1px solid !important; */
  /* border-color: #7f62fc !important; */
  outline: 1px solid !important;
  outline-color: #7f62fc !important;
}
.phoneInputContainer {
  height: 43px !important;
  width: 100% !important;
  background-color: red !important;
  max-width: 400px !important;
  border-radius: var(--borderR) !important;
}

.phoneInputButton {
  height: 100% !important;
  border-radius: var(--borderR) !important;
  background: none !important;
}

.react-tel-input .selected-flag {
  /* background-color: red !important; */
  /* height: 100% !important; */
  border-radius: var(--borderR) !important;
  border: none;
}
.phoneInputButton:focus {
  background: none !important;
  /* background-color: red !important; */
  /* height: 100% !important; */
  border-radius: var(--borderR) !important;
}
